<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>:P</title>
</head>
<body>
    <div>
        <h1>Dependencia Tecnológica</h1>
    </div>
    <h2>Definición</h2>
    <p>La definición general del concepto de dependencia es: “Necesidad compulsiva de alguna sustancia, como alcohol, tabaco o drogas, para experimentar sus efectos o calmar el malestar producido por su privación.”</p>
    <p>Al aplicar esta definición al concepto investigado, se consigue la definición de dependencia tecnológica, la cual es la siguiente: “Hace referencia al uso inadecuado de tecnologías modernas debido a una necesidad compulsiva de su uso”. Forma parte de las dependencias comportamentales.</p>
    <br>
    <h2>Estrategias de Prevención</h2>
    <p>El uso de las TIC (Tecnologías de la Información y Comunicación)  y de las redes sociales impone a los adolescentes y adultos una responsabilidad de doble dirección: los jóvenes pueden adiestrar a los padres en el uso de las nuevas tecnologías, de su lenguaje y sus posibilidades; los padres, a su vez, deben enseñar a los jóvenes a usarlas en su justa medida.</p>
    <p>Los padres y educadores deben ayudar a los adolescentes a desarrollar la habilidad de la comunicación cara a cara, lo que, entre otras cosas, supone (Ramón-Cortés, 2010):</p>
    <ul>
        <li>Limitar el uso de aparatos y pactar las horas de uso del ordenador.</li>
        <li>Fomentar la relación con otras personas.</li>
        <li>Potenciar aficiones tales como la lectura, el cine y otras actividades culturales.</li>
        <li>Estimular el deporte y las actividades en equipo.</li>
        <li>Desarrollar actividades grupales, como las vinculadas al voluntariado.</li>
        <li>Estimular la comunicación y el diálogo en la propia familia. </li>
    </ul>
    <p>La limitación del tiempo de conexión a la red en la infancia y adolescencia (no más de 1,5-2 horas diarias, con la excepción de los fines de semana), así como la ubicación de los ordenadores en lugares comunes (el salón, por ejemplo) y el control de los contenidos, constituyen estrategias adicionales de interés (Mayorgas, 2009).</p>
    <br>
    <h2>¿Por qué es importante reconocer la Dependencia Tecnológica?</h2>
    <p>Depender de tecnologías externas puede generar vulnerabilidades, como pérdida de autonomía, riesgos de ciberseguridad, transferencia de riqueza hacia otros países y limitaciones en la innovación local. Además, esta dependencia puede perpetuar desigualdades digitales y dificultar la adaptación tecnológica a contextos culturales o sostenibles.</p>
    <p>Para reducirla, es importante:</p>
    <ul>
        <li>Fomentar innovación local.</li>
        <li>Diversificar proveedores.</li>
        <li>Fortalecer educación tecnológica.</li>
        <li>Promover cooperación regional.</li>
        <li>Desarrollar políticas de soberanía digital.</li>
    </ul>
    <p>Esto permite mayor autonomía, competitividad y sostenibilidad.</p>
    <br>
    <h2>Tratamiento</h2>
    <p>Ni todas las adicciones sin drogas son similares ni tampoco lo son las personas que están enganchadas a ellas. No obstante, hay ciertos aspectos comunes en la motivación para el tratamiento, en la elección del objetivo terapéutico y en la selección de las técnicas de intervención.</p>
    <p>Los problemas respecto al tratamiento distan de estar resueltos en la actualidad. Muchos de los sujetos aquejados con este tipo de trastornos se niegan a reconocer el problema; otros muchos no buscan ayuda terapéutica; otras la solicitan, pero abandonan la terapia al cabo de una o dos sesiones; otros muchos, tras el tratamiento, acaban por recaer; y otros, por último, abandonan los hábitos adictivos por sí mismos, sin ayuda terapéutica.</p>
    <br>
    <div class="bleh"></div>
</body>
</html>